[Unit]
Description=Capsule8 standalone sensor
Documentation=https://github.com/capsule8/capsule8

[Service]
Type=simple
User=root
ExecStartPre=/bin/rm -rf /var/run/capsule8/*
ExecStart=/usr/bin/capsule8_sensor -v=11
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

# To view logs: journalctl -u capsule8
